################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gamaAnimaAulasAPI/appsettings.Development.json
